@model List<City>
@{
    ViewData["Title"] = "Панель Администратора";
    var cities = ViewData["cities"];
}


<div class="text-center">
    <h1 class="display-4">Панель администратора</h1>
    <br>
    <form enctype="application/x-www-form-urlencoded" action="/Admin/AddCity" method="post">
        <h3>Добавить город в ИС</h3>
        <!--
        <p>Существующие города</p>
        <ul>
            @foreach (City city in ViewBag.cities)
            {
                <li>@city.Name</li>
            }
        </ul>
        -->
        <input name="Name">
        <input type="submit" value="Добавить">
    </form>
    <br>
    <form enctype="application/x-www-form-urlencoded" action="/Admin/AddRestaurant" method="post">
        <h3>Добавить заведение в ИС</h3>
        <!--
        <p>Существующие заведения</p>
        <ul>
            @foreach (Restaurant restaurant in ViewBag.restaurants)
            {
                <li>@restaurant.Name</li>
            }
        </ul>
        -->
        <input name="Name">
        <select name="CityId">
            @foreach (City city in ViewBag.cities)
            {
                <option value="@city.Id">@city.Name</option>
            }
        </select>
        <input type="submit" value="Добавить">
    </form>

</div>
