@page
@using Feedbacks.Views.Authorized

<div class="container mt-5 d-flex justify-content-center">
    <div class="w-100" style="max-width: 400px;">
        <h2 class="text-center mb-4">Вход</h2>
        <form method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Пароль</label>
                <input type="password" class="form-control" id="password" name="password" required />
            </div>
            <button type="submit" class="btn btn-primary" style="max-width: 200px; display: block; margin: 0 auto;">Войти</button>
        </form>
        <a href="/Register">Регистрация</a>
    </div>
</div>
