@using Feedbacks.Models
@model Feedbacks.Models.Review
@{
    ViewData["Title"] = "Reviews";
}
<body>
    <div class="container mt-4">
        <h1 class="text-center">@ViewData["Title"]</h1>

        <div class="card p-4 mt-4">
            <h3 class="mb-3">Отзыв</h3>
            <p><strong>Название отзыва:</strong> @Model.Title</p>
            <p><strong>Текст отзыва:</strong> @Model.Text</p>
        </div>

        <form method="post" action="/Business/ReplyReview" class="mt-4">
            <input type="hidden" name="reviewId" value="@ViewBag.reviewId">

            <div class="mb-3">
                <label for="replyText" class="form-label">Текст ответа</label>
                <textarea id="replyText" name="text" class="form-control" rows="4" style="resize: both;"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Опубликовать ответ</button>
        </form>
    </div>

</body>
