@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Feedbacks</h1>
    <p>Тут Список с ресторанами <a href="https://learn.microsoft.com/aspnet/core">Feedbacks</a>.</p>
</div>
