@using Feedbacks.Models
@model IEnumerable<Restaurant>
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Feedbacks</h1>
    <ul>
        @foreach (Restaurant restaurant in Model)
        {
            <li class="nav-item">
                <p>Название ресторана: @restaurant.Name</p>
                <p>Рейтинг: @restaurant.Rating</p>
                <img width="300" height="300" src="@Url.Action("GetImage", "Home", new { restaurantId = restaurant.Id })">
                <br>
            </li>
        }
    </ul>

    @if (ViewData["Username"] == null)
    {
        <p>Авторизуйтесь, чтобы видеть рестораны своего города</p>
    }
</div>
